<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @*CSS*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/layer/skin/layer.css" />

    @* JavaScript *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/layer/layer.js"></script>
    <script src="~/lib/underscore.js/underscore-min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    @*左侧菜单区域*@
    <aside>
        @await Component.InvokeAsync("Sidebar");
    </aside>

    @*右侧内容区域*@
    <div class="wrapper">
        @RenderBody()
    </div>

    @*底部内容区域*@
    <footer class="footer">
        <a href="#">
            <strong>Copyright © 2017-@DateTime.Now.ToString("yyyy") 上海微茗智能科技有限公司.</strong> All rights reserved.
        </a>
    </footer>

    <script>
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
