@{
    ViewData["Title"] = "ABPCodeGenerator";
    ViewBag.PageName = "Dashboard";
}

<div class="container">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">工作台<small></small></h1>
    </div>

    <span class="col-form-label">这里准备放置应用程序的使用说明</span>

</div>
