################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ABPCodeGenerator/v16
/bin/Debug/netcoreapp3.0
/obj
