@model ABPCodeGenerator.Models.TemplateViewModel
{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Render view to string</title>
</head>
<body>
    <div>
        Hello,@Model.Name
    </div>
</body>
</html>