@{
    ViewData["Title"] = "ABPCodeGenerator";
    ViewBag.PageName = "Home";
}

<div class="container-fluid">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">基础配置<small></small></h1>
    </div>

    <div class="card shadow">
        <div class="card-body">
            <form class="form-group row">
                <label class="col-sm-2 col-form-label" for="ConnectionString">数据库连接字符串</label>
                <textarea class="col-sm-10 form-control" rows="5" id="ConnectionString" aria-describedby="ConnectionString" placeholder="请输入数据库连接字符串"></textarea>
            </form>

            <button type="submit" class="btn btn-primary float-right ml-2" id="Save">保存</button>
            <button type="submit" class="btn btn-primary float-right" id="Validate">验证</button>

        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var page = null;

        page = {
            $Save: $("#Save"),
            $Validate: $("#Validate"),
            $ConnectionString: $("#ConnectionString"),

            Save: function () {
                var connectionString = page.$ConnectionString.val();

                if (connectionString === null || connectionString === "") {

                    site.app.notify.error("数据库连接字符串不能为空");

                    return;
                }

                //保存字符串到本地浏览器
                localStorage.setItem(site.app.setting.key_SqlServerConnectionStrig, connectionString);

                site.app.notify.success("保存成功");
            },

            ValidateConnectionString: function () {

                var connectionString = page.$ConnectionString.val();

                $.post(site.app.setting.baseUrl + "/ValidateConnectionString", { connectionString: connectionString }, function (result) {
                    if (result.errorCode === site.app.setting.noneErrorCode) {
                        site.app.notify.success("验证成功");

                        return true;
                    } else {
                        site.app.notify.error(result.errorMessage);

                        return false;
                    }
                })
            },

            Init: function () {
                page.$Save.click(function () {
                    page.Save();
                });

                page.$Validate.click(function () {
                    page.ValidateConnectionString();
                });

                //获取之前保存到本地浏览器的数据库连接字符串
                var connectionString = localStorage.getItem(site.app.setting.key_SqlServerConnectionStrig);

                if (connectionString !== null || connectionString !== "") {
                    page.$ConnectionString.val(connectionString);
                }
            }
        };

        page.Init();

    </script>
}
