@{
    ViewData["Title"] = "ABPCodeGenerator";
}

<div class="container">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">基础配置<small></small></h1>
    </div>

    <form class="form-group">
        <label for="SqlServerConnectionString">数据库连接字符串</label>
        <input type="text" class="form-control" id="SqlServerConnectionString" aria-describedby="SqlServerConnectionString" placeholder="请输入数据库连接字符串">
    </form>
    <button type="submit" class="btn btn-primary float-right" id="Save">保存</button>

</div>

@section Scripts
{
    <script>
        var page = null;

        page = {
            $Save: $("#Save"),
            $SqlServerConnectionString: $("#SqlServerConnectionString"),

            Save: function () {
                var connectionString = page.$SqlServerConnectionString.val();

                if (connectionString === null || connectionString === "") {
                    //提示层
                    layer.msg('数据库连接字符串不能为空');
                    return;
                }
            },

            Init: function () {
                page.$Save.click(function () {
                    page.Save();
                });
            }
        };

        page.Init();

    </script>
}
