@{
    ViewData["Title"] = "ABPCodeGenerator";
    ViewBag.PageName = "GenerateCode";
}

<div class="container-fluid">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">生成模板<small></small></h1>
    </div>

    <div class="card shadow">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="exampleFormControlSelect1">数据库表</label>
                <select class="col-md-10 form-control" id="SelectDatabaseTableName">
                </select>
            </div>

            <button type="submit" class="btn btn-primary float-right ml-2" id="Generate">生成</button>
            <button type="submit" class="btn btn-primary float-right" id="Search">查询</button>
        </div>
    </div>


    <div class="card mt-3 shadow">
        <div class="card-body">
            <table class="table table-bordered table-hover w-100" id="Table"></table>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var baseUrl = site.app.setting.service.baseUrl;
        var page, localStorageItem = null;

        page = {
            $SelectDatabaseTableName: $("#SelectDatabaseTableName"),
            $SelectedDatabaseTableName: $("#SelectDatabaseTableName option:selected"),
            $Search: $("#Search"),
            $Generate: $("#Generate"),
            $Table: $("#Table"),
            DataTable: null,
            SelectedArray: [],//存放当前表格中选择的项的ColumnId集合

            ListDatabaseTableName: function () {

                $.post(baseUrl + "/ListDatabaseTableName", { connectionString: localStorageItem.ConnectionString }, function (result) {
                    if (result.errorCode === site.app.setting.service.noneErrorCode) {

                        //填充数据到下拉组件

                        for (var i = 0; i < result.data.length; i++) {
                            var option = "<option id=" + result.data[i].id + ">" + result.data[i].text + "</option>";

                            page.$SelectDatabaseTableName.append(option);
                        }


                    } else {
                        site.app.notify.error(result.errorMessage);
                    }
                })
            },

            Search: function () {

                if ($("#SelectDatabaseTableName option:selected").val() === "") {

                    site.app.notify.error("请选择一个数据库表");

                    return;
                }

                page.LoadSelectedDatabaseTableInfo($("#SelectDatabaseTableName option:selected").val())

            },

            LoadSelectedDatabaseTableInfo: function (databaseTableName) {

                $.post(baseUrl + "/ListDatabaseTableColumn", { connectionString: localStorageItem.ConnectionString, databaseTableName: databaseTableName }, function (result) {
                    if (result.errorCode === site.app.setting.service.noneErrorCode) {

                        //将数据填充给到表中
                        if (page.DataTable) {
                            page.DataTable.fnDestroy();
                            page.$Table.empty();
                        }

                        page.DataTable = page.$Table.dataTable({
                            "scrollCollapse": true,
                            "scrollX": true,
                            "searching": false,
                            "ordering": false,
                            "renderer": "bootstrap",
                            "destroy": true,
                            "data": $.parseJSON(result.data),
                            "language": {
                                processing: "处理中...",
                                lengthMenu: "每页显示 _MENU_ 项",
                                zeroRecords: "没有匹配结果",
                                info: "第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                                infoEmpty: "显示第 0 至 0 项结果，共 0 项",
                                infoFiltered: "",
                                infoPostFix: "",
                                search: "搜索:",
                                searchPlaceholder: "搜索...",
                                url: "",
                                emptyTable: "表中数据为空",
                                loadingRecords: "载入中...",
                                infoThousands: ",",
                                paginate: {
                                    first: "首页",
                                    previous: "上页",
                                    next: "下页",
                                    last: "末页"
                                },
                                aria: {
                                    paginate: {
                                        first: "首页",
                                        previous: "上页",
                                        next: "下页",
                                        last: "末页"
                                    },
                                    sortAscending: "以升序排列此列",
                                    sortDescending: "以降序排列此列"
                                },
                                decimal: "-",
                                thousands: "."
                            },
                            //"dom": "<'row'<'col-md-12 align-items-center't><'col-md-2 align-items-center'i><'col-md-2 align-items-center'l><'col-md-8 align-items-center'p>>",
                            "dom": '<"top">rt<"row"<"col-md-12"<"float-left"i><"float-right"p><"float-left datatable_l"l>>>',
                            "columns": [
                                {
                                    "title": "RowNumber",
                                    "data": null,
                                    "orderable": false,
                                    "render": function (data, type, row, meta) {
                                        return meta.row + 1 +
                                            meta.settings._iDisplayStart;
                                    }
                                },
                                {
                                    "defaultContent": "",
                                    "title": '<input class="checkbox-all" type="checkbox"/>',
                                    "width": "20px",
                                    "className": "text-center",
                                    "createdCell": function (td, cellData, rowData, row, col) {
                                        var $control = $('<input class="checkbox-item align-middle text-center" type="checkbox" value="' + row.ColumnId + '"/>');
                                        $control.appendTo($(td)).click(function () {
                                            page.SelectItem($control, rowData);
                                        });

                                    }
                                },
                                {
                                    "title": "TableName",
                                    "data": "TableName"
                                },
                                {
                                    "title": "PrimaryKey",
                                    "data": "PrimaryKey"
                                },
                                {
                                    "title": "ColumnName",
                                    "data": "ColumnName"
                                },
                                {
                                    "title": "DataType",
                                    "data": "DataType"
                                },
                                {
                                    "title": "Length",
                                    "data": "Length"
                                },
                                {
                                    "title": "Precision",
                                    "data": "Precision"
                                },
                                {
                                    "title": "Scale",
                                    "data": "Scale"
                                },
                                {
                                    "title": "AllowNull",
                                    "data": "AllowNull"
                                },
                                {
                                    "title": "Default",
                                    "data": "Default"
                                },
                                {
                                    "title": "IsIdentity",
                                    "data": "IsIdentity"
                                },
                                {
                                    "title": "Desc",
                                    "data": "Desc"
                                }
                            ]
                        });

                    } else {
                        site.app.notify.error(result.errorMessage);
                    }
                })

            },

            Generate: function () {

                if (page.SelectedArray.length === 0) {
                    site.app.notify.error("最少选择一个字段");

                    return;
                }

                var databaseTableName = $("#SelectDatabaseTableName option:selected").val();
                localStorageItem.columnIdList = _.pluck(page.SelectedArray, "ColumnId");

                $.post(baseUrl + "/GenerateCode", { input: localStorageItem }, function (result) {
                    if (result.errorCode === site.app.setting.service.noneErrorCode) {
                        site.app.notify.success("生成成功");
                    } else {
                        site.app.notify.error(result.errorMessage);
                    }
                })
            },

            SelectItem: function ($this, item) {

                if ($this.prop("checked")) {
                    if (!_.contains(page.SelectedArray, item)) {
                        page.SelectedArray.push(item);
                    }
                } else {
                    page.SelectedArray = _.reject(page.SelectedArray, function (one) { return one.value === item.ColumnId; });
                }

            },

            LoadLocalStorageItem: function () {
                //获取之前保存到本地浏览器的数据库连接字符串
                var localStorageJson = localStorage.getItem(site.app.setting.localStorageKey.Home);

                if (localStorageJson !== null || localStorageJson !== "") {
                    localStorageItem = JSON.parse(localStorageJson);
                } else {
                    site.app.notify.error("请先在基础配置页面维护配置信息");
                }
            },

            Init: function () {
                page.LoadLocalStorageItem();

                page.$Search.click(function () {
                    page.Search();
                });

                page.$Generate.click(function () {
                    page.Generate();
                });

                page.ListDatabaseTableName();

                $(document).on("click", ".checkbox-all", function () {
                    var $self = $(this);
                    page.SelectedArray = [];

                    if ($self.prop("checked")) {
                        var data = page.DataTable.fnGetData();
                        _.each(data, function (item) {
                            page.SelectedArray.push(item);
                        });
                    }

                    //界面上体现全选/全不选
                    $self.closest(".dataTables_wrapper").find(".checkbox-item").prop("checked", $self.prop("checked"));
                });
            }
        };

        page.Init();

    </script>
}
